<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <lint rel="icon" typ="img/png" size="32x32" href="~/img/Logo/nazi.png"/>
    <link rel="stylesheet" href="~/dist/css/bootstrap.min.css"/>
    <title>Layout</title>
</head>
<body>


    @await Html.PartialAsync("_NavBar")
    @RenderBody()
    <script src="~/dist/js/bootstrap.bundle.min.js" ></script>
</body>
</html>